fastapi
uvicorn[standard]
python-multipart
google-genai
groq
python-dotenv
pydantic
requests>=2.31.0
pillow>=10.3.0
pypdf
python-docx
python-pptx
httpx
aiofiles
edge-tts
elevenlabs
imageio
imageio-ffmpeg
numpy